<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center my-5">Sistema de gestion de usuario</h1>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis iure provident ut qui velit laudantium voluptatem eaque, deserunt voluptas sint, tempora, corporis numquam deleniti unde voluptatibus dicta ipsa facere quos!
                </span>
                
                <div class="row row-cols-4 my-5">
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-12" >
                        <img src="https://cdn.pixabay.com/photo/2021/11/24/15/45/search-6821469_960_720.jpg" class="card-img" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-12" >
                        <img src="https://media.istockphoto.com/photos/geometric-shapes-on-a-wooden-background-picture-id1140166411" class="card-img" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-12" >
                        <img src="https://media.istockphoto.com/photos/typewriter-header-picture-id649544350" class="card-img" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-12" >
                        <img src="https://media.istockphoto.com/photos/deleting-file-to-recycle-bin-picture-id530919180" class="card-img" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>